---
import { LogoWordmark } from "@/components/wordmark";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const { slug } = Astro.params;

const posts = Object.values(
  import.meta.glob(`src/content/docs/*.md`, {
    eager: true,
  }),
);

const { Content, frontmatter } = posts.filter((post) => {
  return post?.file?.endsWith(`${slug}.md`);
})[0];

const meta = {
  title: `${frontmatter.title} - ctxs.ai Documentation`,
  description: frontmatter.description || "Documentation for ctxs.ai",
};
---

<Layout meta={meta}>
  <div class="max-w-2xl mx-auto py-12 px-4">
    <a href="/weekly" class="block mb-8">
      <LogoWordmark className="block max-h-6" />
    </a>
    <div class="prose prose-slate max-w-none prose-headings:font-medium">
      <Content />
    </div>
  </div>
</Layout>
