---
import Layout from "../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Page from "../components/Page.astro";

const contexts = await getCollection("contexts");

const params = {
	id: "e196lx95sb92jep",
	title:
		"An open-source, community-curated registry of contexts for use with LLMs",
};

const queryString = new URLSearchParams(params).toString();
const ogImage = `https://dynogee.com/gen?${queryString}`;

const meta = {
	title: "ctxs.ai context registry",
	description:
		"An open-source, community-curated registry of contexts for use with LLMs",
	ogImage: ogImage,
};
---

<Layout meta={meta}>
	<div class="px-4 max-w-3xl w-full h-full mx-auto">
		<div class="p-4 md:p-8 lg:pt-48">
			<div
				class="prose max-w-3xl
        dark:prose-invert
        font-mono
        text-sm
        prose-th:text-xs
        prose-headings:text-base
        prose-headings:font-bold
        prose-code:text-sm
        prose-code:border-border
        prose-inline-code:border
        prose-inline-code:rounded
        prose-inline-code:px-1
        prose-inline-code:py-px
        prose-inline-code:font-medium
        prose-pre:px-0.5
        prose-li:my-1
        prose-li:pl-3
        prose-ul:pl-2
        prose-ul:marker:text-foreground
        prose-ul:list-(--dash-list-marker)"
			>
				<h1>work in progress</h1>
				<p>ctxs.ai is a registry platform for context windows and prompts.</p>
				<p>
					<br />
					Currently you can:
				</p>
				<ul>
					<li>Browse available content on the left</li>
					<li>
						Import context to your project via the <code>ctxs</code> cli
					</li>
					<li>Access a plaintext permalink endpoint for each context</li>
				</ul>
			</div>
		</div>
	</div>
</Layout>
