---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Metadata from "@/components/Metadata.astro";

const meta = Astro.props.meta;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<Metadata
			title={meta.title}
			description={meta.description}
			ogImage={meta.ogImage}
		/>
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
