---
import { ContextTag } from "@/components/context-tags";
import { db } from "@/lib/db";
import { Post } from "@/db/schema";

const tags = await db
  .selectDistinct({
    tag: Post.tags,
  })
  .from(Post);

const allTags = tags.flatMap(({ tag }) => tag).filter((tag) => tag !== null);
const uniqueTags = [...new Set(allTags)];
const selectedTag = Astro.url.searchParams.get("tag");

const useExistingPath = Astro.url.pathname.startsWith("/top");
const path = useExistingPath ? Astro.url.pathname : "/weekly";
---

<div class="flex flex-wrap gap-2 justify-center mb-8 max-w-lg mx-auto">
  {
    uniqueTags.map((tag) => (
      <ContextTag
        tag={tag}
        href={`${path}?tag=${tag}`}
        isActive={tag === selectedTag}
      />
    ))
  }
</div>
