---
import { Logo } from "@/components/wordmark";
import { AccountMenu, Avatar, SignInButton } from "@/components/sidebar-utils";
import { Badge } from "@/components/ui/badge";
const { user, session } = Astro.locals;

const showSignInButton = Astro.props.showSignInButton;
const weeklyIndexPage = false; //Astro.request.url.endsWith("/weekly");
---

<div class="max-w-3xl mx-auto px-4 py-8">
  <div class="mb-4 flex justify-between items-center">
    <a href="/weekly" class="flex items-center gap-3 w-auto">
      <Logo className="h-6 w-auto" />
      {
        weeklyIndexPage && (
          <Badge variant="secondary" className="font-mono">
            Launch Week
          </Badge>
        )
      }
    </a>
    {
      session ? (
        <AccountMenu client:load>
          <Avatar
            src={user?.image ?? undefined}
            className="size-6 rounded-sm"
          />
        </AccountMenu>
      ) : (
        showSignInButton && (
          <SignInButton variant="outline" client:load size="default" />
        )
      )
    }
  </div>
</div>
