---
import ContextView from "@/components/context.astro";
import Sidebar from "@/components/Sidebar.astro";
import MobileNav from "@/components/MobileNav.astro";
import type { CollectionEntry } from "astro:content";

const { contexts, selectedContext } = Astro.props;
---

<div class="h-screen flex flex-col md:flex-row">
  <Sidebar contexts={contexts} selectedContext={selectedContext} />

  <div class="flex-1 flex flex-col">
    {
      selectedContext && (
        <>
          <MobileNav selectedContext={selectedContext} />
          <div class="flex-grow overflow-y-auto">
            <ContextView post={selectedContext} />
          </div>
        </>
      )
    }
  </div>
</div>
