---
import { Button } from "@/components/ui/button";
import { cn } from "@/lib/utils";
import { ContextList } from "@/components/context-list";
import { ContextView } from "@/components/context-view";
import { Header, SidebarIntro } from "@/components/header";
import { Sidebar } from "@/components/sidebar";
import type { CollectionEntry } from "astro:content";

const contexts = Astro.props.contexts;
const selectedContext = Astro.props.selectedContext;
---

<div class="h-screen flex flex-col md:flex-row">
  <Sidebar contexts={contexts} selectedContext={selectedContext} client:load />

  <div class="flex-1 flex flex-col">
    <div class="sticky top-0 z-10 bg-background md:hidden">
      <div
        class="p-3 flex justify-between items-center border-b border-[#0000000d]"
      >
        <a href="/" class="font-bold">
          <Button asChild variant="ghost" size="sm"> Menu </Button>
        </a>
        <span class="font-bold">ctxs.ai</span>
      </div>
    </div>
    <div class="flex-grow overflow-y-auto p-6">
      <ContextView context={selectedContext} />
    </div>
  </div>
</div>
