---

---

<div class="max-w-md mx-auto mt-24 px-4">
  <div class="grid grid-cols-1 gap-8">
    <p class="text-lg text-center">
      Add this context to your project via the
      <code class="bg-muted px-1 rounded">ctxs</code> command line integration:
    </p>
    <div>
      <div
        class="rounded-xl overflow-hidden"
        style="position: relative; padding-top: 69.94818652849742%;"
      >
        <iframe
          src="https://customer-wc5rcrxrjczti7or.cloudflarestream.com/f4b22789fa46f3428655dc6b8ee55059/iframe?muted=true&preload=true&loop=true&autoplay=true&poster=https%3A%2F%2Fcustomer-wc5rcrxrjczti7or.cloudflarestream.com%2Ff4b22789fa46f3428655dc6b8ee55059%2Fthumbnails%2Fthumbnail.jpg%3Ftime%3D%26height%3D600&controls=false"
          style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
          allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
          allowfullscreen="true"></iframe>
      </div>
    </div>
  </div>
</div>
